i {
  margin-right: 10px;
}
label {
  margin-top:10px;
  display:block;
  overflow-x:hidden;
  max-height:20px;
}

#total_capacity {
  text-align:center;
  font-size:24px;
  padding:30px;
}

.tcv {
  display:block;
  font-size:28px;
}

#tiv {
  text-align:right;
}
.container-fluid {
  width:1170px;
}
.overline {
  color:#A94442;
}

#capacity_message {
  margin: 0 auto;
  margin-top:20px;
  min-height:30px;
  text-align:left;
  padding:6px;
  padding-left:12px;
  text-transform:uppercase;
  letter-spacing:1px;
}
.overline_msg {
  background-color: #F2DEDE;
  border:1px solid #A94442;
  font-size:14px;
}
.error_msg {
  background-color: #fff5e5;
  border:1px solid #b36b00;
  font-size:14px;
}
#warning_message {
  color:#b36b00;
  margin: 0 auto;
  min-height:30px;
  text-align:left;
  padding:6px;
  background-color: #fff5e5;
  border:1px solid #b36b00;
  font-size:14px;
  visibility:hidden;
  padding-left:12px;
  text-transform:uppercase;
  letter-spacing:1px;
}
.warning_msg {
  visibility: visible !important;
}
#exclusion_message {
  color:#002266;
  margin: 0 auto;
  min-height:30px;
  text-align:left;
  padding:6px;
  background-color: #ccddff;
  border:1px solid #6699ff;
  font-size:14px;
  visibility:hidden;
  padding-left:12px;
  text-transform:uppercase;
  letter-spacing:1px;
}
.exclusion_msg {
  visibility: visible !important;
}
#referral_message {
  color:#002266;
  margin: 0 auto;
  min-height:30px;
  text-align:left;
  padding:6px;
  background-color: #ebccff;
  border:1px solid #9900ff;
  font-size:14px;
  visibility:hidden;
  padding-left:12px;
  text-transform:uppercase;
  letter-spacing:1px;
}
.referral_msg {
  visibility: visible !important;
}
#sliders {
 padding: 0 20px;
}
#sliders li {
  list-style: none;
  list-style-image: none;
}

.value {
  margin-top:8px;
}
/*.ui-widget-header {
  	border: 1px solid #aaaaaa;
    background:none;
  	background-color: #142952 !important;
  	color: #222222;
  	font-weight: bold;
    margin-bottom:8px;
}
.ui-widget-content {
    	background-color: #84a4e1 !important;
}*/
.sliderlabel {
  display:block;
  overflow-x:hidden;
  max-height:20px;
  margin-bottom:32px;
  font-weight:bold;
}

.slidercontainer {
  min-height:70px;
  margin-bottom:15px;
  border:1px solid #ccc;
  padding:15px;
}

#totalpercent, #totalvalue{
  border:1px solid #ccc;
  padding:8px 15px;
  background-color:#eee;
  border-radius:10px;
  font-size:24px;
  font-weight:bold;
  text-align:center;
  color:#222;
  width:100%;
}

#province_warning {
  z-index: 99999;

}

#province_warning .modal-body{
  text-align:center;
  vertical-align:middle;
}
.modal-content {
    border: 1px solid rgba(50,50,50,.9) !important;
}
#province_warning .modal-header{
  background-image: linear-gradient(to bottom,#696969 0,#5c5c5c 100%);
  color:#fff;
}

.orange {
  color:orange;
  padding-top: 20px;
}

.capacity {
  text-align: right;
}
.exact {
  border:1px solid #006600 !important;
  color:#006600 !important;
  background-color:#ccffcc !important;
}

.limit {
  border:1px solid #1a66ff;
  color:#1a66ff;
  background-color:#ccddff;
}

.over {
  border:1px solid #800000 !important;
  color:#800000 !important;
  background-color:#ffcccc !important;
}
.assignedcapacity {
  float:right;
}

.percentfield, .valuefield{
  text-align:right;
}

.form-control.capacity[disabled] {
    background-color: #e5eeff !important;
}
.totals {
  margin-top:15px;
  text-align:center;
}
.pointer {
  cursor: pointer;
}

.referralsig {
  display:none;
}

#subscriberspanel {
  visibility:hidden;
}
.disabled {
  color:#666 !important;
}
.location_name {
  min-width:200px;
  border:1px solid #000;
}

#distribute {

}
