i {
  margin-right: 10px;
}
label {
  margin-top:10px;
  display:block;
  overflow-x:hidden;
  max-height:20px;
}

#total_capacity {
  text-align:center;
  font-size:22px;
  padding:10px;
}

.tcv {
  display:block;
  font-size:24px;
}

#tiv {
  text-align:right;
}
.container-fluid {
  width:800px;
}
.overline {
  color:#A94442;
}

#capacity_message {
  margin: 0 auto;
  min-height:30px;
  text-align:left;
  padding:6px;
  padding-left:12px;
}
.overline_msg {
  background-color: none;
  border:1px solid #000000;
  font-size:14px;
}

#exclusion_message {
  color:#000;
  margin: 0 auto;
  min-height:30px;
  text-align:left;
  padding:6px;
  background-color: none;
  border:1px solid #000000;
  font-size:14px;
  visibility:hidden;
  padding-left:12px;
}
.exclusion_msg {
  visibility: visible !important;
}
#warning_message {
  color:#b36b00000000;
  margin: 0 auto;
  min-height:30px;
  text-align:left;
  padding:6px;
  background-color: none;
  border:1px solid #000000;
  font-size:14px;
  visibility:hidden;
  padding-left:12px;
}
.warning_msg {
  visibility: visible !important;
}
#sliders {
 padding: 0 20px;
}
#sliders li {
  list-style: none;
  list-style-image: none;
}

.value {
  margin-top:8px;
}
/*.ui-widget-header {
  	border: 1px solid #aaaaaa;
    background:none;
  	background-color: #142952 !important;
  	color: #222222;
  	font-weight: bold;
    margin-bottom:8px;
}
.ui-widget-content {
    	background-color: #84a4e1 !important;
}*/
.sliderlabel {
  display:block;
  overflow-x:hidden;
  max-height:20px;
  margin-bottom:32px;
  font-weight:bold;
}

.slidercontainer {
  min-height:70px;
  margin-bottom:15px;
  border:1px solid #ccc;
  padding:15px;
}

#totalpercent, #totalvalue{
  border:1px solid #ccc;
  padding:8px 15px;
  background-color:#eee;
  border-radius:10px;
  font-size:24px;
  font-weight:bold;
  text-align:center;
  color:#222;
  width:100%;
}



.capacity {
  text-align: right;
}
.exact {
  border:1px solid #006600 !important;
  color:#006600 !important;
  background-color:#ccffcc !important;
}

.limit {
  border:1px solid #1a66ff;
  color:#1a66ff;
  background-color:#ccddff;
}

.over {
  border:1px solid #800000 !important;
  color:#800000 !important;
  background-color:#ffcccc !important;
}
.assignedcapacity {
  float:right;
}

.percentfield, .valuefield{
  text-align:right;
}

.form-control.capacity[disabled] {
    background-color: #e5eeff !important;
}
.totals {
  margin-top:15px;
  text-align:center;
}
.pointer {
  cursor: pointer;
}

.hidden-print {
  display:none;
}

#distribute, #cleardistribute {
    display:none;
}
#notespanel .panel-body{
    min-height:100px !important;
}
